    
    
.Hui-aside{
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    padding: 0;
    .anv_left{
        dl{
            padding: 19px 0;
        }
    }
}    
.dl_background{
    background-color: #FFFFFF;
}





































































